<h2><%= current_user.email %> さんのおみせ一覧</h2>

<% if @shops.any? %>
  <ul>
    <% @shops.each do |shop| %>
      <li>
       <%= link_to shop.name, shop_path(shop) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>おみせは登録されていません</p>
<% end %>

<h3><%= link_to '新しいおみせを追加する', user_shop_new_user_path(current_user) %></h3>
