<div class="container">
  <%= render 'shared/side_nav' %>
            
  <div class="right-contents">         
   <div class="row">
    <div class="col-md-6">
      <!-- 検索バー1 -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="キャンパスで絞り込む">
         <div class="input-group-append">
          <button class="btn btn-primary" type="button">検索</button>
         </div>
      </div>
    </div>
   <div class="col-md-6">
    <!-- 検索バー2 -->
     <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="日付で絞り込む">
       <div class="input-group-append">
        <button class="btn btn-primary" type="button">検索</button>
       </div>
      </div>
    </div>
  </div>
 </div>
</div>