header {
  margin-top: 40px; 
}

.container {
  max-width: 1200px; 
  margin: 10 auto;
  padding: 20px;
}

.header-title-area {
  margin-top: 60px; 
  margin-bottom: 20px; 
}

.logo {
  font-size: 36px;
}

.logo-img {
  width: 200px;
  height: auto; 
}

.login-icon {
  margin-right: 10px; /* 右側に余白を追加 */
}