header {
  margin-top: 40px; 
}

.container {
  max-width: 1000px; 
  margin: 10 auto;
  padding: 20px;
}

.side-nav {
  width: 300px;
  margin-right: 20px;
  float: left;
}

.right-contents {
  width: 600px;
  float: left;
}

.header-title-area {
  margin-top: 60px; 
  margin-bottom: 20px; 
}

.logo {
  font-size: 36px;
}

.logo-img {
  width: 200px;
  height: auto; 
}



.shop-img {
  width: 200px;
  height: auto; 
}

.shop-img-home {
  width: 50px;
  height: auto; 
}
  
li{
  list-style:none;
}

.shop-card {
  width: 400px; /* カードの幅 */
  height: auto; /* 高さはコンテンツに合わせて自動調整 */
  margin: 10px; /* カードの周囲のマージン */
  padding: 20px; /* カード内部のパディング */
  background-color: #ffffff; /* カードの背景色 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 影の効果 */
}

.shop-card-header {
  display: flex;
  align-items: center;
}

.img-thumbnail-home {
  width: 60px;
  height: auto;
  float: left;
 }

.card-body-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body img {
  max-width: 100px; /* 画像の幅を調整 */
  height: auto;
}

.shop-image-home {
  width: 60px; /* 任意の幅を指定 */
  height: 60px; /* 任意の高さを指定 */
  border-radius: 50%; /* 50%に設定して正円にする */
  overflow: hidden; /* 内容をはみ出さないようにする */
  border: 1px solid gray; /* グレーのボーダーを追加 */
  box-sizing: border-box; /* ボーダーの幅を要素の内側に含める */
  margin: 10px; /* 他の正円との間隔を調整（必要に応じて調整） */
}

.shop-image-home img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像を領域に合わせてトリミング */
}

.circle-image {
  border-radius: 50%; /* 50% で正円に切り抜きます */
  overflow: hidden; /* 余分な部分を非表示にします */
}

.heart-img {
  background-image: url('heart-black.png');
  /* 画像のサイズや表示位置などのスタイルを設定 */
}

/* クリックした状態 */
.heart-img:hover {
  background-image: url('heart-red.png');
  /* クリックした際の画像のスタイルを設定 */
}